<%= render "layouts/admin_header" %>

  <div class="container-fluid">
      <div class="row">
        <%= render "layouts/admin_left_panel" %>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 class="sub-header">CRM News List<span style="float:right;"><a href="<%= new_admin_news_path %>" class="btn btn-primary" role="button">Add News</a></span></h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Title</th>
                  <th>Link</th>
                  <th>Published</th>
                  <th>&nbsp;</th>
                  <th>&nbsp;</th>
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <% if @admin_news.size > 0 
                i=1
                %>
                <% @admin_news.each do |admin_news| %>
                <tr>
                  <td><%= "#{i}" %></td>
                  <td><%= admin_news.title %></td>
                  <td><%= admin_news.link %></td>
                  <td><%= admin_news.published %></td>
                  <td><%= link_to 'Show', admin_news %></td>
                  <td><%= link_to 'Edit', edit_admin_news_path(admin_news) %></td>
                  <td><%= link_to 'Destroy', admin_news, method: :delete, data:{confirm: 'Are you sure?'} %></td>
                </tr>
                <% i+=1  
                  end %>
                <% else %>
                <tr><td colspan="7" style="text-align: center;">No Record Found</td></tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <%= paginate @admin_news%>
        </div>
      </div>
    </div>

<%= render "layouts/admin_footer" %>
